h1{
    text-align: center;
    width: 100%;
    font-weight: bold;
    text-decoration: grey underline wavy;
    letter-spacing: 10px;
    font-size: 40px;
    font-family: monospace;

}

a{
    text-decoration: none;
}
p{
    line-height: 2;
}